li {
    list-style-type: none;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 872px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    padding: 40px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 7px;
}

.game-card {
    background: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.game-card img {
    width: 100px;
    height: 100px;
}

.card {
    width: 117px;
    height: 146px;
    margin: 12px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card-selected-back {
    transform: rotateY(0deg);
}

.card-selected-front {
    transform: rotateY(-180deg);
}

#time {
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 8px;
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #75B79E;
    color: #ecffef;
}

#time span {
    font-size: 25px;
}

@media(max-width: 418px) {
    h1 {
        font-size: 36px;
        text-align: center;
    }  

    #time {
        top: 150px;
    }

    .container, .cards {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .cards {
        padding-bottom: 150px;
    }
}